.ad{
    width: 100%;
    height: 500px;
    background-color: pink;
}

.serchBlock{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px;
}

.serchInput{
    border: 1px solid aqua;
}

.lineBlock{
    border-left: 1px solid gray;
    height: 100%;
}

.textPrice{
    font-size: 20px;
    color:grey;
    text-align: center;
}